{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "env": {
    "integration": {
      "presets": [
        "es2015"
      ]
    }
  },
  "plugins": ["transform-inline-environment-variables"]
}
