name: release artifact
on:
  push:
    tags:
      - 'v*'

jobs:
  build_dist:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22]
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          version: 10
      - name: pnpm install, build:dist
        env:
          SDK_API_KEY: ${{ secrets.SDK_API_KEY }}
          DEFAULT_ENDPOINT: ${{ secrets.DEFAULT_ENDPOINT }}
        run: |
          pnpm install
          pnpm build:dist

      - name: zip dist
        run: |
          cd dist
          zip release atj.*

      - name: Create release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/release.zip
          asset_name: atj.zip
          asset_content_type: application/zip
